<h1>User Information: </h1>

<ol>
  <li>Name: <%= @user.name.titleize %></li>
  <li>Email: <%= @user.email %></li>
  <li>Phone: <%= @user.phone %></li>
  <li>Date of Birth: <%= @user.date_of_birth %></li>
  <li>Address: <%= @user.address %></li>
</ol>