<h2>  <%= link_to "Go to the list of events", user_events_path(@user) %> |
  <%= link_to "User list" , root_path %></h2>
<h1>Events Created by <%= @user.name.titleize %></h1>

 <% if @user.events.any? %>
   <ul> 
      <% @user.events.each do |event| %>
      <li>
       The location : <%= event.location %>.<br>
       The date : <%= event.event_date %> | 
       <%= link_to "Edit Event", edit_user_event_path(event) %>
       <%= button_to "Delete event",[@user,event], method: :delete %>
       
         <h3>Invitation :</h3>
          <ol>
           <% @users.each  do |user| %>
           <% if @user.invited_users.include?(user) && event.invited_users.include?(user)%>
           <li> 
             <p><%= user.name.titleize %><p>
             <p style="color:purple"> Invited</p> 
           </li>
           <br>
           <% else %>
           <li>
             <%= form_with url:user_event_invitations_path(@user,event), data: {turbo: false} do |f| %>
               <%= user.name.titleize %>
               <%= hidden_field_tag :invited_user , user.id %><br>
               <%= f.submit "Invite User" %>
             <% end %> 
           </li>
           <br>
           <% end %>
           <% end %>
          </ol>
      </li>
      <br>
      <% end %>
   </ul>
 <% end %>

 <% if @user.attend_events.any? %>
 <h2>Attended Events</h2>
    <ol>
       <% @user.attended_events.each do |attended_event| %>
          <li> 
               The location : <%= attended_event.location %>.<br>
               The date : <%= attended_event.event_date %>

          </li>
       <% end %>
    </ol>
 <% end %>

 <p> <h3>Add Event</h3>
  <%= form_with model: [@user, @user.events.build ] ,data: {turbo: false} do |f| %>
    
    <%= f.label :event_date, "Event date" %><br>
    <%= f.datetime_field :event_date %><br><br>
    <%= f.label :location %><br>
    <%= f.text_field :location %><br><br>

    <%= f.submit "Add event" %>
    
  <% end %>
 </p>