<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% flash.each do |message_type,message| %>
   <% if message_type == "success" %>
     <div style="color:green"><h3><%= message %></h3></div>
   <% else %>
      <div style="color:red"<%= message %>></div>
   <% end %>
  <% end %>
    <%= yield %>
  </body>
</html>
